#addFolderButton {
    width: 200px;
    background-color: beige;
    border-radius: 10px;
    height: 70px;
    margin-left: 500px;
}

.mainDiv {
    border: 2px solid black;
    margin: 5px;
    border-radius: 10px;
    display: flex;
}

.folderDiv {
    width: 100vw;
    border: 2px solid blue;
    border-radius: 10px;
    height: 100px;
    width: 100px;
    margin: 5px;
    padding: 5px;
    background-color: azure;
}

.folderDiv [action] {
    text-decoration: underline;
    color: black;
    margin-left: 10px;
}

[purpose=name] {
    margin-top: 50px;
}